body {
    background: #DDDDDD;
    background-color: lightblue;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5835d948414fb5a615f7641e/1481519058032-2V7L61ZFLEDNYTL2CYU7/Food+Photo+Background.jpg?format=2500w");
    /* the image is only for prototype use, and we give full credit of it to Mesa Cafe*/
}

h1{
    margin-bottom: 0px;
    font-size: 2.5em;
    font-family: 'Lobster', cursive;
    /* color: lightyellow; */
    text-align: center;
}

#clearbutton, #searchbutton{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 1px;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville:ital@1&family=Lobster&display=swap');

#topWord{
    font-size: 2.3em;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:salmon;
    /* color: lightyellow; */
}

h5 {
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-weight: bold;
    /* color: lightyellow; */
}

h6 {
    font-family: 'Libre Baskerville', serif;
}

#fab {
    position: fixed;
    right: 25px;
    bottom: 10px;
    background: #800000;
    color: lightyellow;
    z-index: 999;
}

.modal-backdrop {
    background-color: #f58f54c2;
 }

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

.navbar {
    background-color:rgba(204, 38, 66, 0.849);
    color: white;

}

nav.navbar.navbar-dark.fixed-top {
    padding-bottom: 0px;
}

.navbar.navbar-dark.bg-faded {
    padding-bottom: 5px;
}

#topBar {
    position: fixed;
    /* z-index: 5; */
}


#searchcontent{
    max-width: 70%;
      background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  /* margin-bottom: 12px; */
}

#optionsDiv{
    max-width: 50%; 
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer {
    position: fixed;
}

.bmd-layout-drawer>header {
    background-color:rgba(47, 0, 255, 0.808);
    color: lightblue;
}

.bmd-layout-drawer>ul {
    background-color: lightcoral;
}

.list-group-item :first-child {
    margin-right: 0.67rem;
}

.list-group-item {
    cursor: pointer;
}

#menuShowRestaurants,
#menuApplyFilters,
#menuShowFavorites,
#menuUserInfo,
#menuAddRestaurant,
#menuSignOut{
    color: darkblue;
}

#menuSignOut:hover,
#menuAddRestaurant:hover,
#menuEdit:hover,
#menuDelete:hover,
#menuUserInfo:hover,
#menuShowRestaurants:hover,
#menuApplyFilters:hover,
#menuShowFavorites:hover {
    background-color: grey;
    color: white;
}

.dropdown-menu-right {
    left: -128px;
}


input{
    padding: 0px;
}
#searchBar{
    max-width: 85%;
    padding-top: 0px;
}
#searchbutton,
#clearbutton{
    color: white; 
    margin:3px;
}

.page-container {
    margin-top: 75px;
}

.card {
    background-color: pink;
    margin: 10px 0;


}

#listPage .card {
    cursor:pointer;
}


#listPage .card:hover {
    background-color: #c05a88;
    color:violet;

}


#cardDescription{
    margin-top: 5px; 
}

#welcome_box{
    background-color:pink;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

#MainPage .card-title,
#MainPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

#roseFireButton{
    display: block;
    margin: 60px, auto; 
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px; 
    border-radius: 5px;
}



#back-btn{
    color:white;
    margin: auto;
    padding: auto;
    display:inline;
}

#favorite-btn{
    padding: 0.23em;
}

#menuModalButton{
    color:white;
}

#cardMenuLink {
    border-color: #2196F3;
    color: dodgerblue;
    border-radius: 10px;
}

#cardMenuLink:hover {
    background: #2196F3;
    color: white;
}

#cardLocationLink {
    border-color: #04AA6D;
    color: green;
    border-radius: 10px;
}
  
#cardLocationLink:hover {
    background-color: #04AA6D;
    color: white;
}


img {
    max-width: 100%;
    max-height: 100%;
}
